.vs/
PlayPauseControl/obj/
WindowsNotification/obj/
WindowsToastNotification/bin/
WindowsToastNotification/obj/
WPFControls/obj/
src/PlayPauseControl/obj/
src/Sandbox/obj/
src/Sandbox/bin/
src/WindowsNotification/obj/
src/WindowsToastNotification/bin/
src/WindowsToastNotification/obj/
SwitchControl/obj/
